<tr>
    <td class="share info">
        <b>Camera </b>
        <span class="camera"><%= camera.name %></span>
        <b>from</b>
        <span class="camera"><%= User.find(camera.user_id).email %></span>
    </td>
</tr>