<tr>
    <td class="subscribe">
        <b>Share nickname:</b>
        <span class="share"><%= get_subscriber_nickname(share) %></span>
        <b> Email:</b>
        <span class="subscribe"><%= get_subscriber_email(share) %></span>
    </td>
</tr>