<tr>
    <td class="owner">
        <b>Owner name:</b>
        <span class="owner"><%= user.name %></span>
        <b> Email:</b>
        <span class="subscribe"><%= user.email %></span>
    </td>
</tr>