<p>
  <b>Shared Camera List:</b>
</p>

<% if @shared_camera != [] %>

  <table class="subscribes" summary="User subscribes">
    <%= render  partial:'shares/share_info',collection: @shared_camera, as: :camera %>
  </table>
  <% end %>
</tb>