<tr>
    <td class="camera">
        <b> Camera Name: </b>
        <span class="description"><%=link_to camera.name, camera %></span>
        <td><%= button_to 'Delete Camera', camera, method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </td>
</tr>