<tr>
    <td class="subscribe">
        <b>Nickname:</b>
        <span class="subscribe"><%= owner.nickname %></span>
        <b> Email:</b>
        <span class="subscribe"><%= User.find(owner.subscriber_id).email %></span>
    </td>
</tr>