<tr>      
    <td><%= owner.nickname %></td>
    <td><%=link_to User.find(owner.subscriber_id).email,  User.find(owner.subscriber_id) %></td>
    <td>
        <% if (cameras = get_shared_camera(User.find(params[:user]), User.find(owner.subscriber_id))) != [] %>
            <% cameras.each do |camera| %>
                <%= camera %>
            <% end %>
        <% else %>
            <p> none</p>
        <% end %>
    </td>
    <td><%= button_to 'Delete Subscriber', owner, method: :delete, data: { confirm: 'Are you sure?' }%></td>
</tr>