<tr>
    <td class="subscribe">
        <b>Nickname:</b>
        <span class="subscribe"><%= owner.nickname %></span>
        <b> Email:</b>
        <span class="subscribe"><%=link_to User.find(owner.subscriber_id).email,  User.find(owner.subscriber_id) %></span>

        <td><%= button_to 'Delete Subscriber', owner, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        
    </td>
</tr>