<tr>      
    <td><%= owner.nickname %></td>
    <td><%=link_to User.find(owner.subscriber_id).email,  User.find(owner.subscriber_id) %></td>
    <td><%= button_to 'Delete Subscriber', owner, method: :delete, data: { confirm: 'Are you sure?' }%></td>
</tr>